
body {
    margin: 0;
}

section {
    border-bottom: 1px solid black;
    overflow: hidden;
}

.technologies {
    background-color: aliceblue;
}

.schedule {
    background-color: tomato;
}

.curriculum {
    background-color: rgba(0, 200, 50, 0.3);
}

nav {
    background-color: #B0B97F;
    padding: 0.5em;
    margin-bottom: 50px;
    

}

nav ul {
    list-style: none;
    margin:0;
}

nav li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
}
